---
import type { CollectionEntry } from "astro:content"
import { getCollection } from "astro:content"
import Base from "../../layouts/Base.astro"
import { formatDate } from "../../lib/date"

export async function getStaticPaths() {
  const posts = await getCollection("blog")

  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

type Props = {
  post: CollectionEntry<"blog">
}

const { post, post: { data: { title, description, date, isDraft } } } = Astro.props
const { Content } = await post.render();
---

<Base
  {title}
  description={description}
  image={`https://og.nxl.sh/blog/?title=${title}&top=${formatDate(date)}`}
>
  <div class="prose tracking-wide">
    {isDraft && (
      <blockquote class="my-8 bg-neutral-800 py-4 pl-4" role="alert">
        This post is a <strong>draft</strong>. If you're reading this, you're probably a cool and trusted person. Please <strong>don't share</strong> it thank you.
      </blockquote>
    )}

    <h1 class="mt-8">{title}</h1>
      <Content />
    </div>
</Base>
