---
import Base from "../layouts/Base.astro";
import Link from "../components/Link.vue";
import { getTopTracks, getTopArtists } from "../lib/spotify";

const tracks = await getTopTracks();
const artists = await getTopArtists();

const title = "nexxel • music";
---

<Base {title} description="My top tracks and artists.">
  <h1 class="text-neutral-100 text-2xl font-semibold my-8">Top Tracks</h1>

  <div class="flex flex-col gap-y-4">
    {
      tracks.map(({ artists, album, songUrl, title, image }) => (
        <div class="flex flex-row items-center space-x-4">
          <img src={image} alt={title} class="w-16 h-16" />
          <div class="flex flex-col">
            <Link href={songUrl}>
              <h3 class="font-semibold text-neutral-100">{title}</h3>
            </Link>
            <p>{artists.map(({ name }) => name).join(", ")}</p>
            <p>{album}</p>
          </div>
        </div>
      ))
    }
  </div>

  <h1 class="text-neutral-100 text-2xl font-semibold my-8">Top Artists</h1>

  <div class="flex flex-col gap-y-4">
    {
      artists.map(({ name, url, image, followers }) => (
        <div class="flex flex-row items-center space-x-4">
          <img src={image} alt={name} class="w-16 h-16" />
          <div class="flex flex-col">
            <Link href={url}>
              <h3 class="font-semibold text-neutral-100">{name}</h3>
            </Link>
            <p>{followers} followers</p>
          </div>
        </div>
      ))
    }
  </div>
</Base>
