---
import { ViewTransitions } from "astro:transitions"
import Link from "../components/Link.vue"
import Footer from "../components/Footer.astro"
import Grain from "../components/grain/Grain.astro"

type Props = {
  title: string
  description: string
  image?: string
}

const { title, description, image } = Astro.props
const { pathname } = Astro.url

let href = "hi"

if (pathname === "/blog" || pathname === "/blog/")
  href = "/"
else if (pathname.startsWith("/blog/"))
  href = "/blog"
else href = "/"
---

<html lang="en">
  <head>
    <ViewTransitions />

    <!-- global metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- primary meta tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Shoubhit Dash" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- link tags -->
    <link rel="sitemap" href="/sitemap-index.xml">
    <link
      rel="preload"
      href="/fonts/Switzer.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Hack.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="mx-auto max-w-container px-4">

      <header class="h-37.5px flex items-center justify-between -mt-2">
        <slot name="header-content">
          <Link {href}>← back</Link>
        </slot>
      </header>

      <slot />

      <Grain opacity={0.3} />

      <div class="mt-24" />
      <Footer />
    </div>
  </body>
</html>

<script is:inline>
const theme = (() => {
  if (typeof localStorage !== "undefined" && localStorage.getItem("theme"))
    return localStorage.getItem("theme")

  if (window.matchMedia("(prefers-color-scheme: dark)").matches)
    return "dark"
  else return "light"
})()

function setTheme(theme) {
  if (theme === "light")
    document.documentElement.classList.remove("dark")
  else document.documentElement.classList.add("dark")

  window.localStorage.setItem("theme", theme)
}

setTheme()
document.addEventListener("astro:after-swap", setTheme(theme))
</script>

<script>
import { loglib } from "@loglib/tracker"

loglib.record({
  id: "www_nexxel",
  host: "https://www.loglib.io",
})
</script>

<style is:global>
@font-face {
  font-family: "Switzer";
  src: url("/fonts/Switzer.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer Fallback";
  src: local("BlinkMacSystemFont"), local("Segoe UI"), local("Helvetica Neue"),
    local("Arial"), local("sans-serif");
  font-weight: 300 900;
  font-style: normal;
  ascent-override: 96.67%;
  descent-override: 24.66%;
  line-gap-override: 8.88%;
  size-adjust: 101.38%;
}

@font-face {
  font-family: "Hack";
  src: url("/fonts/Hack.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body,
html {
  @apply overflow-x-hidden;
}

html {
  @apply antialiased touch-manipulation scroll-smooth text-base;
  text-rendering: optimizeLegibility;

  &.dark {
    color-scheme: dark;
  }
}

* {
  @apply outline-white selection-(bg-neutral-700 text-white)
}

body {
  font-family: "Switzer", "Switzer Fallback";
  @apply text-neutral-300 bg-neutral-900 px-0 md:px-4 py-4 md:py-8 relative min-h-screen text-sm md:text-base;
}

code, pre {
  font-family: "Hack", 'Courier New', Courier, monospace
}

.prose {
  @apply max-w-container [&>:not(:last-child)]:mb-6;

  & p {
    @apply my-6 line-height-7.2
  }

  & h1,
  & h2,
  & h3 {
    @apply text-neutral-100 font-semibold my-8;
  }

  & h1 {
    @apply text-2xl;
  }

  & h2 {
    @apply text-xl;
  }

  & h3 {
    @apply text-lg;
  }

  & strong {
    @apply font-medium text-neutral-100;
  }

  & hr {
    @apply border-neutral-600 border-b-0.5;
  }

  & ul {
    @apply list-disc list-outside pl-4;
  }

  & ul > li {
    @apply mb-6;
  }

  & img {
    @apply mx-auto rounded my-6;
  }
}
</style>
